// COLOUR VARIABLES---------------

$off-white: #f5f5e4;
$off-black: #1e1e21;
$yoobee-yellow: #facf3d;
$yoobee-green: #2eb47d;
$yoobee-green-dark: #1b9864;
$yoobee-pink: #b3458e;
$yoobee-red: #e24c60;
$yoobee-blue: #26a8c3;
